

.global-footer
{
    height:40px;
    width:100%;
    background-color:#252525;
}
.header-logo
{
   height:50%;
}
.header-large
{
    width:100%;
    background-color:#252525;
}
.info-body
{
    padding:10px;
    border:1px solid #ededed;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
}
.info-body .warning
{
    margin-bottom:0;
}

.orbit-container 
{
    width: 80%;
    margin: 10px auto;
}

.os-icon-container {
    margin: auto;
    width: 80%;
    text-align: center;
}

.os-icons {
    list-style: none;
    margin: auto;
    display: inline;
}

    .os-icons li 
    {
        display: inline-block;
        margin: 20px;
    }

.os-menu-left
{
    list-style:none;
}
.os-menu-left li
{
    margin-top:20px;
}
.page-title
{
    font-size:1.6rem;
    background:#000;
    color:#fff;
    padding:10px;
    border-radius:3px;
    margin-bottom:0;

}
.splash-holder {
    margin: 10px auto;
    text-align: center;
}

    .splash-holder img {
        padding: 5px;
    }

.tab-holder
{
    margin:20px auto;
    display:block;
    text-align:center;

}

.tabs-content
{

    float:left;
}

.tabs dd.active > a
{

    font-size:1.1rem;
}
.top-bar 
{
    background:#252525;
    height:auto;
}
.top-bar-section ul
{
    margin-top:19px;
    background-color:#252525;
}
.top-bar-section ul li
{
    height:69px;
}
.top-bar-section li:not(.has-form) a:not(.button) 
{
background: #252525;
}

.warning-box
{
    border-right:1px solid #ededed;
    border-left:1px solid #ededed;
    border-bottom:1px solid #ededed;
    padding:10px;
}
#twitter-holder
{
    height:40px;
    width:40px;
    border-radius:20px;
    background:url(http://localhost:26373/Images/Twitter_logo_blue.png) no-repeat;
}