
.breadcrumbs
{
    margin-bottom:0;
    border-style:none;
    background-color:#252525;
}
.breadcrumbs > *.current a 
{
cursor: default;
color: #fff;
}
.breadcrumbs > * a, .breadcrumbs > * span 
{
text-transform: uppercase;
color: #f7941d;
}
.bread-holder
{
    display:inline-block;
    float:right;
}
.global-footer
{
    height:60px;
    width:100%;
    background-color:#252525;
    bottom:0;
    position:relative;
}
.header-logo
{
   height:50%;
}
.header-large
{
    width:100%;
    background-color:#252525;
}

.info-body .warning
{
    margin-bottom:0;
}

.orbit-container 
{
    width: 80%;
    margin: 10px auto;
}

.os-icon-container {
    margin: auto;
    width: 80%;
    text-align: center;
}

.os-icons 
{
    list-style: none;
    margin: auto;
    display: inline;
}

.os-icons li 
{
        display: inline-block;
        margin: 20px;
}


.os-menu-left
{
    list-style:none;
}
.os-menu-left li
{
    margin-top:20px;
}
.page-title
{
    font-size:1.6rem;
    background:#252525;
    color:#fff;
    padding:10px;
    border-radius:3px;
    margin-bottom:0;

}
.section-header
{
    width:100%;
    background:#252525;
    border-top:3px solid #f7941d;
}
.splash-holder {
    margin: 10px auto;
    text-align: center;
}

.splash-holder img 
{
    padding: 5px;
}
.sub-nav dt.active a, .sub-nav dd.active a, .sub-nav li.active a 
{
-webkit-border-radius: 3px;
border-radius: 3px;
font-weight: normal;
background: #008CBA;
padding: 0.16667rem 0.88889rem;
cursor: default;
color: #fff;
}

.tab-holder
{
    margin:20px auto;
    display:block;
    text-align:center;

}

.tabs-content
{

    float:left;
}

.tabs dd.active > a
{

    font-size:1.1rem;
}
.title-holder
{
    margin:15px 0;
}
.top-bar 
{
    background:#252525;
    height:auto;
}
.top-bar-section ul
{
    margin-top:19px;
    background-color:#252525;
}
.top-bar-section ul li
{
    height:69px;
}
.top-bar-section li:not(.has-form) a:not(.button) 
{
background: #252525;
}

.warning-box
{
    border-right:1px solid #ededed;
    border-left:1px solid #ededed;
    border-bottom:1px solid #ededed;
    padding:10px;
}
#twitter-holder
{
    height:40px;
    width:40px;
    border-radius:20px;
    background:url(http://localhost:26373/Images/Twitter_logo_blue.png) no-repeat;
}